@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
    background-image: url(./bg-desktop.svg);
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: "open sans", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.container {
    width: 1300px;
    max-width: 100%;
}
 .logo {
    margin-bottom: 50px;
    width: 160px;
 }

 h1{
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.8rem;

 }

 img {
    width: auto;
 }

.hud-flex {
    display: flex;
}
.hud-flex div{
    flex: 1;
}
.hud-text{
    color: white;
    margin-left: 40px;
    font-size: .9rem;
}
.hud-text p{
    line-height: 1.6rem;
    font-size: 1.1rem;;
}

.button { 
    display: inline-block;
    margin-top: 10px;
    background-color:  white;
    text-decoration: none;
    border-radius: 25px;
    padding: 13px 60px;
    box-shadow: 2px 2px 3px black;
    border: none;
    font-size: 1rem;
    font-family: poppins, sans-serif;
    font-weight: 600;
    transition: background-color 0.4s, color 0.4s;
}


.button:hover { 
    background-color:violet;
    color: white;
    cursor: pointer
}

.button:active { 
    text-decoration: underline;
}

.button:focus { 
    background-color:violet;
    color: white;
}

@media screen and (max-width:768px) {
    body {
        width: 400px;
        margin: 30px auto;
    }
    img {
        max-width: 100%;
    }
    .hud-flex {
        flex-direction: column;
    }
    .hud-text {
        font-size: 0.2rem;
        text-align: center;
        margin: 40px 0 0 0;
    }
    h1 {
        font-size: 2.4rem;
        line-height: 2.6rem;
    }
}